
div#teste *{
    transition: 1s;
}

div#teste a{
    padding: 5px;
}

div#teste li:hover *{
    background: white;
    color: black;
    opacity: 0.8;
}
/*  CABEÇALHO MENU  */
#cabecalhoMenu{
    z-index: 2;
}

#cabecalhoMenu {
    box-shadow: 1px 0px 10px 2px black;;
}

#cabecalhoMenu nav{
    padding: 0;
}

#cabecalhoMenu li{
    padding: 5px;
}

#cabecalhoMenu a#linkDoMenu{
    padding: 10px;
}

#cabecalhoMenu li:hover{
    border-bottom: solid #004085 2px;
    padding: 3px;
    color: #005cbf;
}

#cabecalhoMenu li:hover a#linkTopo{
    color: #005cbf;
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

div#cabecalhoMenu{
    background-color: red;
}