body{
    background-color: #f4f4f4
}

div#formulario{
    background-color: #0b0c0a;
     margin: auto;
     margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid black;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}