
DIV#carouselExampleControls P{
    font-size: 18pt;
    font-weight: bold;
}

DIV#carouselExampleControls h1{
    font-size: 40pt;
}

div#carouselExampleControls img{
    height: 600px;
}

div#painelNoticias{
    color: black;
    background-color: white;
}

div#titulo{
    border-bottom: 4px solid black;
    color: black;
    opacity: 0.8;
    font-size: 32px;
    font-weight: bold;
    width: 80%;
    padding: 10px;
}

div.noticia div#interna{
    border: solid 1px black;
}

div.noticia a{
    color: black;
    text-decoration: none;
}

div.noticia:hover div#interna{
    box-shadow: 4px 5px 10px 1px black;
}

.alinharCent {
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
background-color: #ffffff;
min-width: 80%;
border: 1px solid black;
}