
DIV#carouselExampleControls P{
    font-size: 18pt;
    font-weight: bold;
}

DIV#carouselExampleControls h1{
    font-size: 40pt;
}

div#carouselExampleControls img{
    height: 600px;
}

/*  NOTICIA
===============================*/

div#painelNoticias{
    color: black;
    background-color: white;
}

figure.noticiaPrincipal{
    display: inline-table;
    position: relative;
}

figure.noticiaPrincipal figcaption{
    position: absolute;
    bottom: 10px;
    padding: 10px;
    line-height: 35px;
    font-size: 32pt;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: left;
}

span.legenda{
    border-bottom: solid green 2px; 
    font-size: 14pt;  
    color: #efefef
}

div#titulo{
    border-bottom: 4px solid black;
    color: black;
    opacity: 0.8;
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
}

div.noticia div#interna{
    border: solid 1px black;
}

div.noticia a{
    color: black;
    text-decoration: none;
}

div.noticia:hover div#interna{
    box-shadow: 4px 5px 10px 1px black;
}

div.noticia .tituloNot{
    height: 150px;
}

.alinharCent {
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
background-color: #ffffff;
min-width: 80%;
border: 1px solid black;
}

.meuparalaxe { 
    /* The image used */
    background-image: url("../img/fundo2.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*      DIV COLABORE
=====================================*/

#container {
  display: inline-block;
  position: relative;
}

#container figcaption {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  font-size: 30pt;
  color: #e4e4e4;
  text-shadow: 0px 0px 5px black;
}

button#doeAgora{
    width: 25%; 
    margin-top: 25%; 
    font-size: 30pt;
    font-family: "Times New Roman", Times, serif;

}