body{
    background-color: #f1f0e3;
    color: black;
}

article{
    width: 80%;
}

article h1{
    font-weight: bold;
    font-size: 25pt;
    font-family: inherit
}

section{
    margin: auto;
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
}

img#noticia{
    width: 100%;
    height: auto;
}