body{
    background-color: #f1f0e3;
    color: black;
}

div#corpo{
    background-color: white;
    padding: 20px;
    margin-top: 80px;
}

div#corpo h1{
    font-size: 30pt;
}

.justificar{
    text-align: justify;
    text-justify: inter-word;
}

img#imgPrincipal{
    width: 100%;
}